.section-add{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  &__banner-3{
    height: 197px;
    width: 800px;
    border-radius: 30px;
    padding: 20px;
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.3)),
      url("../../assets/banner-3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
  
    .banner-title{
      color: white;
      align-self: flex-end;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 5px;
    }
  }
}