@mixin background($img) {
  border-radius: 15px;
  margin: 7px;
  padding: 20px;
  height: 150px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .2s;
  @if $img == 1 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-1.jpg");
  }
  @if $img == 2 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-2.jpg");
  }
  @if $img == 3 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-3.jpg");
  }
  @if $img == 4 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-4.jpg");
  }
  @if $img == 5 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-5.jpg");
  }
  @if $img == 6 {
    background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.8)),
      url("../../assets/lokasi-6.jpg");
  }
  &:hover{
    box-shadow: 0 5px 5px 5px rgba(black, 0.2);
    transform: translateY(-2px);
  }
  &:active{
    box-shadow: 0 2px 2px 2px rgba(black, 0.1);
    transform: translateY(1px);
  }
}

@mixin fontStyle-1 {
  font-size: 17px;
  font-weight: 700;
  color: white;
}
@mixin fontStyle-2 {
  color: white;
}
