.image-uploader {
  margin: 0px 0 40px 0;
  &__image {
    height: 250px;
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    & img{
      border-radius: 30px;
      height: 100%;
    }
  }
}