.section-home{
  height: 100vh;
  display: flex;
  margin-bottom: 70px;
  justify-content: space-evenly;
  .home-side-1{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 50px;
  }
  .home-side-2{
    // border: 1px solid #f4f4f4;
    // border-bottom: none;
    margin: 50px 0 0 50px;
    width: 650px;
  }
}