.app-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: white !important;
  color: grey !important;
  justify-content: space-between;
  &__toolbar {
    display: flex;
  }
  &__menus {
    margin-left: auto;
    display: flex;
    align-content: space-between;
  }
  &__search-field {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-input {
      width: 550px;
      height: 40px;
      display: flex;
      background-color: #F1F3F4;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      &__field {
        width: 70%;
        height: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 17px;
        font-weight: bold;
        color: grey;
        &::placeholder {
          font-weight: bold;
        }
      }
    }
  }
}
