.s-main-menu{
  width: 100%;
  margin-bottom: 50px;
  .card-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    & > * {
      margin: 20px 20px 0 0;  
    }
  }
}
