.banner-front {
  width: 100%;
  .banner-img {
    width: 100%;
    position: relative;
    z-index: -1;
  }
  .banner-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    z-index: 10;
    margin: 80px 0 0 80px;
    .banner-title {
      margin: -10px 0 15px 35px;
      display: flex;
      flex-direction: column;
      &--1 {
        font-weight: 300;
        font-size: 40px;
      }
      &--2 {
        font-weight: 300;
        font-size: 30px;
      }
      &--3 {
        font-size: 20px;
        font-weight: 300;
      }
    }
    .banner-avatar {
      width: 250px;
      height: 250px;
      background-color: black;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      // position: absolute;
      // left: 170px;
    }
  }
  .profil-card {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 50px;
    & > * {
      margin-left: 30px;
    }
  }
  .profil-description {
    margin-left: 80px;
    width: 87%;
    margin-top: 50px;
    .profil-header {
      &--title {
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 10px;
      }
      &--divider {
        background-color: #f4f4f4;
      }
    }
    .profil-about{
      margin-top: 20px;
      &--text{
        color: grey;
      }
    }
  }
}
