.home-card {
  margin-bottom: 10px;
  &__wrapper {
    display: flex;
    padding-left: 20px;
    // width: 360px;
  }
  &__content {
    padding: 0px !important;
    margin-top: 20px;
  }
  &__image {
    width: 120px;
    height: 110px;
    margin-left: auto;
  }
}
