.section-add__fields {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 30px;
  align-items: center;
  
  .field-1 {
    width: 600px;
    margin-bottom: 20px;
  }
  .field-2 {
    width: 600px;
    margin-bottom: 20px;
  }
  .field-3 {
    width: 600px;
    margin-bottom: 50px;
  }
  .image-uploader {
    margin: 0px 0 40px 0;
    &__image {
      height: 197px;
      width: 800px;
      border-radius: 30px;
      padding: 20px;
      display: flex;
      justify-content: center;
      & img{
        border-radius: 30px;
      }
    }
  }
}
