@mixin pushContent(){
  margin: 15px 0 0 15px;
}
.section-single-kos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 100px;
  .kos-content {
    display: flex;
    flex-direction: column;
    width: 65%;

    & > * {
      margin-bottom: 15px;
    }
    &--jenis-kos {
      .kos-content-jenis-kos {
        @include pushContent();
      }
    }
    &--luas-kamar{
      .kos-content-luas-kamar{
        @include pushContent();
        display: flex;
        align-content: center;
        &__logo{
          margin-right: 10px;
          color: #303F9F;
        }
      }
    }
    &--fasilitas{
      .kos-item{
        display: flex;
        flex-wrap: wrap;
        .kos-content-fasilitas{
          @include pushContent();
          display: flex;
          align-content: center;
          &__logo{
            margin-right: 10px;
            color: #303F9F;
          }
        }
      }
    }
  }
}
